
ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1, 32, 8);
}

li {
  float: left;
  padding: 2rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
}

li a:hover:not(.active) {
  border-bottom: 2px solid white
}

.active {
  background-color: #03a8a8;
}